$gray-200: #F2F2F2;
$gray-300: #E5E5E5;
$gray-400: #E6E6E6;
$gray-500: #CCCCCC;
$gray-700: #808080;

$white-100: #FFFFFF;

$black-100: #000000;

$green-200: #50DAA8;
$green-300: #4BCFA0;

$red-400: #E43F3F
